<section class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="oe_slogan">POS Tax Display</h2>
            <h3 class="oe_slogan">Easy way to show tax on order line.</h3>
        </div>
    </div>
   
    <div class='oe_span12'>
       This module allows you to show tax on POS order lines.
    </div>
    <div class='oe_span12'>
       1. Product tax.
    </div>
    <div class='oe_span12'>
        <img class="oe_picture oe_screenshot" src="tax.jpg">
    </div>
    <div class='oe_span12'>
        <h1 align="center">
           If You Need Any Help or Customization Please Contact
        </h1>
        <h3 align="center">
            Email Id: dev.webveer@gmail.com
        </h3>
    </div>
    </div>
</section>