<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">POS Save Quotations</h2>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="icon.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                <td style="padding-left: 15px;">
                    <div class="oe_author">
            <p>TL Technology</p>
            <p>Website: <a href="http://posodoo.com">http://posodoo.com</a></p>
            <p>Contact: <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=thanhchatvn@gmail.com"
                           target="_blank">thanhchatvn@gmail.com</a></p>
        </div>
        </td>
        </p>
    </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Function keys</h3>
        <br><br>
        <div class="oe_row">
            <div class="oe_span4" style="margin-left: 170px;">
                <span class="fa fa-check-square fa-2x pull-left" style="color:#875A7B;"></span>
                <p style="margin-top: 5px;">Call center persons can save orders (from request of customers) to quotations</p>
                <span class="fa fa-check-square fa-2x pull-left" style="color:#875A7B;"></span>
                <p style="margin-top: 5px;">Or some customers need buy some products in the next time, customers pick some products and request save to quotation</p>
                <span class="fa fa-check-square fa-2x pull-left" style="color:#875A7B;"></span>
                <p style="margin-top: 5px;">POS sellers (multi store) can load order store by call center (or any department from own your company)</p>
            </div>
            <div class="oe_span4" style="margin-left: 50px;">
                <span class="fa fa-check-square fa-2x pull-left" style="color:#875A7B;"></span>
                <p style="margin-top: 5px;">You can define multi store(shop), assigned quotations shop by shop</p>
                <span class="fa fa-check-square fa-2x pull-left" style="color:#875A7B;"></span>
                <p style="margin-top: 5px;">POS admin can management quotations filter by store, status of quotations</p>
                <span class="fa fa-check-square fa-2x pull-left" style="color:#875A7B;"></span>
                <p style="margin-top: 5px;">POS admin can remove, edit information of quotations</p>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced text-center">
        <div class="oe_span12">
            <div class="text-center">
                <h1><a href="https://www.youtube.com/watch?v=SDaZSkCKsig&t=3s" target="_blank">
                    <i class="fa fa-youtube-play"></i> Youtube video (click here) or click on Live Preview
                </a></h1>
            </div>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Support go live</h3>
        <br><br>
        <div class="oe_row">
            <div class="oe_span4" style="margin-left: 170px;">
                <span class="fa fa-check-square fa-2x pull-left" style="color:#875A7B;"></span>
                <p style="margin-top: 5px;">1 year support</p>
                <span class="fa fa-check-square fa-2x pull-left" style="color:#875A7B;"></span>
                <p style="margin-top: 5px;">Free upgrade code to odoo v12, v13 ...(no database migrate)</p>
            </div>
            <div class="oe_span4" style="margin-left: 50px;">
                <span class="fa fa-check-square fa-2x pull-left" style="color:#875A7B;"></span>
                <p style="margin-top: 5px;">Bugs and Issues support fix free 24/7</p>
                <span class="fa fa-check-square fa-2x pull-left" style="color:#875A7B;"></span>
                <p style="margin-top: 5px;">Free request new future</p>
                <span class="fa fa-check-square fa-2x pull-left" style="color:#875A7B;"></span>
                <p style="margin-top: 5px;">Percent 15% payment viva paypal account</p>
            </div>
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span8">
            <h2>Need our service?</h2>
            <p class="oe_mt32">Contact us by <a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=thanhchatvn@gmail.com" target="_blank">email </a> </p>
            <ul>
                <li><a href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=thanhchatvn@gmail.com" target="_blank">thanhchatvn@gmail.com <i class="fa fa-envelope-o"></i></a></li>
            </ul>
            <ul>
                <li><a href="https://apps.odoo.com/apps/modules/browse?author=TL%20Technology" target="_blank">Support me here: My module list</i></a></li>
            </ul>
        </div>
    </div>
</section>