
.pos .quotation-selected {
    color: white;
    border: solid 3px rgb(110,200,155);
}
.pos .quotation-name {
    height: 30px;
    font-size: 14px;
}
.pos .pos-branding {
    left: 50px;
    width: 339px;
}
.pos .quotation-note {
    padding-left: 5px;
}
.pos .order-note {
    width: 97%;
}
