<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Create grouped account move line view</h2>
        <h3 class="oe_slogan">Simple and efficient</h3>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <!-- <h2 class="oe_slogan" style="color:#875A7B;">Usefull feature that will change your all your Odoo module</h2> -->
        <h3 class="oe_slogan">Useful to export grouped expense and income pieces lines.</h3>
    </div>
    <div class="oe_row">
        <div class="oe_span12 oe_mt32">
            <h4>
                <b>New menu</b>
            </h4>
            <p class="oe_mt16">
                <img class="oe_picture" src="dashboard.png">
            </p>
        </div>
    </div>
    <div class="oe_row">
        <div class="oe_span12 oe_mt32">
            <h4>
                <b>Standard account move line view</b>
            </h4>
            <p class="oe_mt16">
                <img class="oe_picture" src="before.png">
            </p>
        </div>
    </div>
    <div class="oe_row">
        <div class="oe_span12 oe_mt32">
            <h4>
                <b>Grouped account move line view</b>
            </h4>
            <p class="oe_mt16">
                <img class="oe_picture" src="after.png">
            </p>
        </div>
    </div>
    <div class="oe_row">
        <div class="oe_span12 oe_mt32">
            <h4>
                <b>Now, you can export this view</b>
            </h4>
            <p class="oe_mt16">
                <img class="oe_picture" src="export.png">
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
